In [1]:
# Importando as bibliotecas 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [27]:
# Importando a base de dados sobre o pagamento do abono permanência no governo federal em julho/2022. Aqui houve um erro sobre o UTF-8, mas consegui resolver mudando o "encoding", conforme sugerido no StackOverFlow.
db = pd.read_csv('ABONOP_072022.csv', sep=';', encoding='latin-1')

In [ ]:
# Verificando o cabeçalho do arquivo
db.head()

In [ ]:
# Avaliando o tamanho do arquivo
db.shape

In [ ]:
# Avaliando os tipos de dados do dataframe
db.dtypes

In [ ]:
# Verificando o número de servidores com abono permanência por UF.
db["UF da UPAG de vinculação"].value_counts(ascending=True).plot.barh()
# Pela análise do gráfico, é possível observar que os estados do Rio de Janeiro e do Distrito Federal concentram a maior proporção de servidores com abon o permanência. Este resultado pode ser explicado pelo fato de as duas cidades concentrarem uma proporção elevada de servidores federais, uma vez que o Rio de Janeiro era a capital federal até a metade do século passado, quando a capital foi transferida para Brasília.

In [ ]:
#Verificando o número de servidores com abono permanência por escolaridade
db["Nível de Escolaridade"].value_counts(ascending=True).plot.bar()
# É possível concluir que os servidores que apresentam nível de escolaridade completo, principalmente médio e superior, são o maior grupo de servidores com abono permanência.

In [35]:
# Para realizar algumas análises de correlação, o valor do abono permanência foi convertido para o tipo float. Aqui temos um problema para esta conversão, pois como a tabela é de dados brasileiros, o símbolo de decimal é a vírgula. Vou tentar usar a função replace para trocar todas as vírgulas por ponto.
db["Val"] = db["Val"].str.replace(',','.')

In [36]:
# Efetuando a conversão de tipo para float
db["Val"] = db["Val"].astype("float")

In [ ]:
# Verificando se deu certo (amém, Jesus!Funcionou!)
db.dtypes

In [44]:
# Vou converter também o tempo de serviço público em meses, dessa forma será possível estabelecer alguma correlação entre o valor do benefício e o tempo de carreira no serviço público federal.
db["Quantidade total de meses no Serviço público"] = db["Quantidade de anos no Serviço público"] * 12 + db["Quantidade de meses no Serviço público"]

In [ ]:
# Verificando se a operação foi realizada
db.head()

In [ ]:
# Ao se avaliar a correlação, verifica-se uma correlação negativa fraca (-0,246964) entre o tempo de serviço público (meses) e o valor pago do abono permanência.
db.corr()